@import "src/utils/styles/colors";

.default {
  width: 90px;
  height: 40px;
  background-color: $button_default;
  border-style: none;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    background-color: $button_hover;
    cursor: pointer;
  }

  &:focus {
    outline: none !important;
  }

  &:active {
    background-color: $button_active;
  }

  &:disabled {
    border: 1px solid gray !important;
    cursor: not-allowed !important;
    background: none !important;
    color: gray !important;
  }
}

.loading {
  z-index: 10;
  position: absolute;
}

.loadingDefault {
  pointer-events: none;
}
