$color1 : #5f7239 ;
$color1h : #364120;
$color1a : #89a452;
$color2 : #ad701c ;
$color2h :  #7c5014;
$color2a : #df9024;
button {
  width: 90px;
  height: 40px;
  background-color: black;
  border-style: none;
  border-radius: 10px;
  color: white;
  &:hover {
    background-color: #373737;
    cursor: pointer;
  }
  &:active {
    background-color: #626262;
  }
  &:disabled{
    border: 1px solid gray !important;
    cursor: not-allowed !important;
    background: none !important;
    color: gray !important;
  }
  &.empty {
    background: none;
    border: 1px solid black;
    color: black;
    &:hover {
      border: 1px solid #373737;
      cursor: pointer;
      color: #373737;
    }
    &:active {
      border: 1px solid #626262;
      color: #626262;
    }
  }

}

.btnStyle1 {
  width: 90px;
  height: 40px;
  background-color: $color1 ;
  border-style: none;
  border-radius: 10px;
  color: white;
    &:hover {
      background-color: #364120;
      cursor: pointer;
    }
    &:active {
      background-color: #89a452;
    }
    &:disabled{
      border: 1px solid gray ;
      cursor: not-allowed;
      background-color: white;
      color: gray;
    }
      &.empty {
      background: none;
      border: 1px solid #5f7239;
      color: #5f7239;
      &:hover {
        border: 1px solid #364120;
        cursor: pointer;
        color: #364120;
      }
      &:active {
        border: 1px solid #89a452;
        color: #89a452;
      }
    }
}
.btnStyle2 {
  @extend .btnStyle1;
  background-color: $color2;
  &:hover {
    background-color: $color2h;
  }
  &:active {
    background-color: $color2a;
  }
    &.empty {
    background: none;
    border-color:  $color2;
    color: $color2;
    &:hover {
      border-color:  $color2h;
      color: $color2h;
    }
    &:active {
      border-color: $color2a;
      color: $color2a;
    }
  }
}


